@use "../import/_mixin" as *;

/* common */
.wrap {
    position: relative;
    width: 100%;
    min-height: var(--window-inner-height);
    overflow: hidden;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    @include flex();
    
    &.main {
      height: var(--window-inner-height);
      min-height: var(--window-inner-height);
    }
  }
  
  .inner {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  
  .container { 
    position: relative;
    width: 100%;
    flex-grow: 1;
    section {
      max-width: 1920px;
      margin: 0 auto;
    }
  }
  

  