@use "../import/_mixin" as *;

// =======================================
// Floating Menu Component
// =======================================

.floating-menu {
  width: 86px;
  position: fixed;
  top: 108px;
  right: 0px;
  z-index: 98;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include mq(desktop, max) {
    top: 76px;
    width: max-content;
  }
  @include mq(tablet-wide, max) {
    top: 46px;
  }

  .floating-kngil {
    position: relative;
    width: 76px;
    height: 208px;
    padding: 12px 4px;
    margin-right: 4px;
    background-image: url(../img/bg_floating.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    z-index: 2;
    
    pointer-events: none;
    @include mq(desktop, max) {
      width: 68px;
      height: 176px;
    }
    @include mq(tablet-wide, max) {
      display: none;
    }
    svg.floating-shape {
      width: 100%;
      height: 100%;
      display: block;
    }
    a {
      width: 100%;
      height: 86%;
      gap: 8px;
      flex-direction: column;
      margin-top: 12px;
      pointer-events: auto;
      border-radius: 16px;
      transform: skewY(-20deg);
      @include flex(center, center);
      i,
      span {
        transform: skewY(20deg);
      }
      &:hover{
        span{
          color:#FFD700;  
        }
        .ico-logo {
          background-color: #FFD700;
        }
      }
    }
    .ico-logo{
      width: 48px;
      aspect-ratio: 48/11;
      @include svgIconMask("../img/logo_kngil.svg",#fff);
    }
    span {
      display: block;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
      font-size: 14px;
      letter-spacing: 0.5px;
      text-wrap: balance;
      word-break: keep-all;
      line-height: 1.2;
      @include mq(desktop, max) {
        font-size: 12px;
      }
    }
  }

  ul {
    padding: 58px 0 58px 8px;
    background-image: url(../img/bg_floating_menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
    flex-direction: column;
    align-self: flex-end;
    gap: 2px;
    position: relative;
    z-index: 1;
    @include flex(center, center);
    @include mq(tablet-wide, min) {
      margin-top: -56px;
    }
    @include mq(desktop, min) {
      margin-top: -72px;
    }

    @include mq(desktop, max) {
      width: 64px;
      padding: 42px 0 42px 6px;
    }
    @include mq(tablet-wide, max) {
      width: 46px;
      padding: 32px 0 32px 4px;
    }
  }
 
  li {
    position: relative;
    width: 75px;
    height: 78px;
    @include flex(center, center);
    margin-bottom: 0;
    @include mq(desktop, max) {
      width: 60px;
      height: 62px;
    }
    @include mq(tablet-wide, max) {
      width: 44px;
      height: 42px;
    }

    a {
      width: 100%;
      height: 100%;
      text-align: center;
      font-weight: 700;
      gap: 4px;
      flex-direction: column;
      position: relative;
      z-index: 10;
      text-decoration: none;
      @include flex(center, center);
      @include mq(tablet-wide, max) {
        gap: 0;
      }
      
      &:hover {
        span {
          color: #FFD700;
        }
        .ico-buy {
          background-color: #FFD700;
        }
  
        .ico-faq{
          background-color: #FFD700;
        }
      }
    }

    span {
      display: block;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
      font-size: 14px;
      letter-spacing: 0.5px;
      position: relative;
      z-index: 10;
      @include mq(desktop, max) {
        font-size: 12px;
      }
      @include mq(tablet-wide, max) {
        @include textBlind;
      }
    }

    i {
      width: 28px;
      height: 28px;

      @include mq(desktop, max) {
        width: 24px;
        height: 24px;
      }
       // Floating menu icons
      &.ico-buy {
        @include svgIconMask("../img/ico/ico_floating_buy.svg",#fff);
      }

      &.ico-faq{
        @include svgIconMask("../img/ico/ico_floating_faq.svg",#fff);
      }

    }
   
  }
}
