@use "../import/_mixin" as *;

// =======================================
// Floating Menu Component
// =======================================

.floating-menu {
  width: 108px;
  position: fixed;
  top: 124px;
  right: 50px;
  z-index: 98;
  background: #000;
  border-radius: 8.5px;
  padding: 0.5px;
  overflow: visible;
  
  // 외곽 그라디언트 테두리
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8.5px;
    padding: 0.5px;
    background: linear-gradient(180deg, #7AB984 0%, #D6F8DB 50%, #1A4C22 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
    z-index: 0;
  }
  
  ul {
    width: 100%;
    flex-direction: column;
    @include flex(center, center);
    gap: 4px;
    position: relative;
    z-index: 1;
  }
 
  li {
    position: relative;
    width: 100%;
    height: 55px;
    @include flex(center, center);
    margin-bottom: 0;
    
    // 첫 번째 카드 (위쪽) - AI 스타일
    &.floating-faq {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // 위쪽 카드 메인 shape
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='107' height='55' viewBox='0 0 107 55' fill='none'%3E%3Cpath d='M7 55.5C6.17161 55.5 5.50004 54.8284 5.5 54V8.00293C5.5 7.17452 6.17159 6.50295 7 6.50293L101 6.5C101.828 6.5 102.5 7.1716 102.5 8V23.0693C102.5 23.4469 102.358 23.8107 102.102 24.0879L73.5 55.0156C73.2161 55.3226 72.8166 55.4971 72.3984 55.4971L7 55.5Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='107' height='55' viewBox='0 0 107 55' fill='none'%3E%3Cpath d='M7 55.5C6.17161 55.5 5.50004 54.8284 5.5 54V8.00293C5.5 7.17452 6.17159 6.50295 7 6.50293L101 6.5C101.828 6.5 102.5 7.1716 102.5 8V23.0693C102.5 23.4469 102.358 23.8107 102.102 24.0879L73.5 55.0156C73.2161 55.3226 72.8166 55.4971 72.3984 55.4971L7 55.5Z' fill='black'/%3E%3C/svg%3E");
        mask-size: cover;
        -webkit-mask-size: cover;
        mask-position: center;
        -webkit-mask-position: center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        background: linear-gradient(0deg, rgba(0, 255, 34, 0.20) 0%, rgba(0, 255, 34, 0.20) 100%), linear-gradient(180deg, #08251C 0%, #208769 37.06%, #08241C 80.5%, #051612 100%);

        ;
        z-index: 0;
      }
      
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 4px;
        width: 25px;
        height: 28px;
        // 위쪽 카드 접힌 부분
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='28' viewBox='0 0 25 28' fill='none'%3E%3Cg opacity='0.8'%3E%3Cpath d='M24.7072 0.00458581C24.7083 0.00333922 24.709 0.00170122 24.709 0V26.9975C24.709 27.5497 24.2613 27.9974 23.7091 27.9975L1.00266 27.9998C0.129427 27.9999 -0.324425 26.9592 0.2698 26.3193L24.7072 0.00458581Z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='28' viewBox='0 0 25 28' fill='none'%3E%3Cg opacity='0.8'%3E%3Cpath d='M24.7072 0.00458581C24.7083 0.00333922 24.709 0.00170122 24.709 0V26.9975C24.709 27.5497 24.2613 27.9974 23.7091 27.9975L1.00266 27.9998C0.129427 27.9999 -0.324425 26.9592 0.2698 26.3193L24.7072 0.00458581Z' fill='black'/%3E%3C/g%3E%3C/svg%3E");
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-position: top right;
        -webkit-mask-position: top right;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        background: linear-gradient(0deg, rgba(0, 255, 34, 0.20) 0%, rgba(0, 255, 34, 0.20) 100%), linear-gradient(180deg, #08251C 0%, #208769 37.06%, #08241C 80.5%, #051612 100%);


        opacity: 0.8;
        z-index: 1;
      }
      
      // 오버레이 효과
      .shape-bg {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 98px;
        height: 50px;
        
        // SVG를 직접 background-image로 사용하여 fill과 stroke 효과 모두 구현
        // 1. 그라디언트 fill, 2. 녹색 반투명 fill, 3. 그라디언트 stroke
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='98' height='50' viewBox='0 0 98 50' fill='none'%3E%3Cpath d='M2 49.5C1.17161 49.5 0.50004 48.8284 0.5 48V2.00293C0.5 1.17452 1.17159 0.502953 2 0.50293L96 0.5C96.8284 0.500001 97.5 1.1716 97.5 2V17.0693C97.5 17.4469 97.3579 17.8107 97.1016 18.0879L68.5 49.0156C68.2161 49.3226 67.8166 49.4971 67.3984 49.4971L2 49.5Z' fill='url(%23paint0_linear_faq)'/%3E%3Cpath d='M2 49.5C1.17161 49.5 0.50004 48.8284 0.5 48V2.00293C0.5 1.17452 1.17159 0.502953 2 0.50293L96 0.5C96.8284 0.500001 97.5 1.1716 97.5 2V17.0693C97.5 17.4469 97.3579 17.8107 97.1016 18.0879L68.5 49.0156C68.2161 49.3226 67.8166 49.4971 67.3984 49.4971L2 49.5Z' fill='%2300FF22' fill-opacity='0.2'/%3E%3Cpath d='M2 49.5C1.17161 49.5 0.50004 48.8284 0.5 48V2.00293C0.5 1.17452 1.17159 0.502953 2 0.50293L96 0.5C96.8284 0.500001 97.5 1.1716 97.5 2V17.0693C97.5 17.4469 97.3579 17.8107 97.1016 18.0879L68.5 49.0156C68.2161 49.3226 67.8166 49.4971 67.3984 49.4971L2 49.5Z' stroke='url(%23paint1_linear_faq)' style='mix-blend-mode:overlay'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_faq' x1='37.9238' y1='50' x2='37.9238' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2308251C'/%3E%3Cstop offset='0.370561' stop-color='%23208769'/%3E%3Cstop offset='0.805' stop-color='%2308241C'/%3E%3Cstop offset='1' stop-color='%23051612'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_faq' x1='49' y1='50' x2='49' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.3'/%3E%3Cstop offset='0.5' stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0.1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        mix-blend-mode: overlay;
        z-index: 2;
        pointer-events: none;
      } 
    }
    
    // 두 번째 카드 (아래쪽) - KNGIL 스타일
    &.floating-buy {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // 아래쪽 카드 메인 shape (뒤집힌 형태)
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='107' height='55' viewBox='0 0 107 55' fill='none'%3E%3Cpath d='M101 0.5C101.828 0.5001 102.5 1.1717 102.5 2V47.997C102.5 48.825 101.828 49.497 101 49.497L7.08008 49.5C6.25175 49.5 5.5801 48.828 5.58008 48L5.58203 33.4941C5.58207 33.123 5.71919 32.7648 5.96777 32.4893L34.3867 0.998C34.6711 0.683 35.0756 0.503 35.5 0.5029L101 0.5Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='107' height='55' viewBox='0 0 107 55' fill='none'%3E%3Cpath d='M101 0.5C101.828 0.5001 102.5 1.1717 102.5 2V47.997C102.5 48.825 101.828 49.497 101 49.497L7.08008 49.5C6.25175 49.5 5.5801 48.828 5.58008 48L5.58203 33.4941C5.58207 33.123 5.71919 32.7648 5.96777 32.4893L34.3867 0.998C34.6711 0.683 35.0756 0.503 35.5 0.5029L101 0.5Z' fill='black'/%3E%3C/svg%3E");
        mask-size: cover;
        -webkit-mask-size: cover;
        mask-position: center;
        -webkit-mask-position: center;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        background: linear-gradient(180deg, #281500 0%, #AD804E 37.06%, #54320D 80.5%, #503211 100%);
        z-index: 0;
      }
      
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 5px;
        width: 25px;
        height: 28px;
        // 아래쪽 카드 접힌 부분 (왼쪽 하단)
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='28' viewBox='0 0 25 28' fill='none'%3E%3Cpath d='M0.2928 27.9954C0.2917 27.9967 0.291 27.9983 0.291 28V1.0025C0.291 0.4503 0.7387 0.0026 1.2909 0.0025L23.9973 0.0002C24.8706 0.0001 25.3244 1.0408 24.7302 1.6807L0.2928 27.9954Z' fill='black'/%3E%3C/svg%3E");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='28' viewBox='0 0 25 28' fill='none'%3E%3Cpath d='M0.2928 27.9954C0.2917 27.9967 0.291 27.9983 0.291 28V1.0025C0.291 0.4503 0.7387 0.0026 1.2909 0.0025L23.9973 0.0002C24.8706 0.0001 25.3244 1.0408 24.7302 1.6807L0.2928 27.9954Z' fill='black'/%3E%3C/svg%3E");
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-position: bottom left;
        -webkit-mask-position: bottom left;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        background: linear-gradient(180deg, #281500 0%, #AD804E 37.06%, #54320D 80.5%, #503211 100%);
        opacity: 0.8;
        z-index: 1;
      }
      
      // 오버레이 효과
      .shape-bg {
        position: absolute;
        top: 0px;
        right: 4px;
        width: 98px;
        height: 50px;
        // SVG를 직접 background-image로 사용하여 fill과 stroke 효과 모두 구현
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='98' height='50' viewBox='0 0 98 50' fill='none'%3E%3Cpath d='M95.9199 0.5C96.7483 0.500075 97.4199 1.17165 97.4199 2V47.9971C97.4199 48.8254 96.7483 49.497 95.9199 49.4971L2 49.5C1.17167 49.4999 0.500025 48.8283 0.5 48L0.501953 33.4941C0.501989 33.123 0.639111 32.7648 0.887695 32.4893L29.3066 0.998047C29.591 0.68295 29.9955 0.503015 30.4199 0.50293L95.9199 0.5Z' fill='url(%23paint0_linear_buy)'/%3E%3Cpath d='M95.9199 0.5C96.7483 0.500075 97.4199 1.17165 97.4199 2V47.9971C97.4199 48.8254 96.7483 49.497 95.9199 49.4971L2 49.5C1.17167 49.4999 0.500025 48.8283 0.5 48L0.501953 33.4941C0.501989 33.123 0.639111 32.7648 0.887695 32.4893L29.3066 0.998047C29.591 0.68295 29.9955 0.503015 30.4199 0.50293L95.9199 0.5Z' stroke='url(%23paint1_linear_buy)' style='mix-blend-mode:overlay'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_buy' x1='60.027' y1='0' x2='60.027' y2='50' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23281500'/%3E%3Cstop offset='0.370561' stop-color='%23AD804E'/%3E%3Cstop offset='0.805' stop-color='%2354320D'/%3E%3Cstop offset='1' stop-color='%23503211'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_buy' x1='48.9599' y1='0' x2='48.9599' y2='50' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.3'/%3E%3Cstop offset='0.5' stop-color='white'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0.1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        mix-blend-mode: overlay;
        z-index: 2;
        pointer-events: none;
      }
    }

    a {
      width: 100%;
      height: 100%;
      text-align: center;
      font-weight: 700;
      @include flex(center, center);
      position: relative;
      z-index: 10;
      text-decoration: none;

      &:hover {
        span {
          color: #FFD700;
        }
      }
    }

    span {
      display: block;
      color: #ffffff;
      font-weight: 700;
      text-align: center;
      font-size: 16px;
      letter-spacing: 0.5px;
      position: relative;
      z-index: 10;
    }

    // Floating menu icons
    &.floating-buy a i {
      background-image: url(../img/ico_floating_buy.svg);
    }

    &.floating-faq a i {
      background-image: url(../img/ico_floating_faq.svg);
    }

    &.floating-download {
      a i {
        background-image: url(../img/ico_floating_download.svg);
      }

      a:hover i {
        background-image: url(../img/ico_floating_download_on.svg);
      }
    }

    &.floating-guide a i {
      background-image: url(../img/ico_floating_book.svg);
    }

    &.floating-buy a:hover i {
      background-image: url(../img/ico_floating_buy_on.svg);
    }

    &.floating-faq a:hover i {
      background-image: url(../img/ico_floating_faq_on.svg);
    }

    &.floating-guide a:hover i {
      background-image: url(../img/ico_floating_book_on.svg);
    }
  }
}
