@use "../import/_mixin" as *;

// =======================================
// Floating Menu Component
// =======================================

.floating-menu {
  width: 80px;
  position: fixed;
  top: 96px;
  right: 0px;
  z-index: 98;
  padding: 61px 0 61px 8px;
  background-image: url(../img/bg_floating_menu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
  overflow: hidden;

  @include mq(desktop, max) {
    top: 56px;
   width: 64px;
   padding: 52px 0 52px 6px;
  }
  @include mq(tablet-wide, max) {
    width: 46px;
    padding: 40px 0 40px 4px;
  }
  ul {
    width: 100%;
    flex-direction: column;
    @include flex(center, center);
    gap: 2px;
    position: relative;
    z-index: 1;
  }
 
  li {
    position: relative;
    width: 75px;
    height: 78px;
    @include flex(center, center);
    margin-bottom: 0;
    @include mq(desktop, max) {
      width: 60px;
      height: 62px;
    }
    @include mq(tablet-wide, max) {
      width: 44px;
      height: 42px;
    }

    a {
      width: 100%;
      height: 100%;
      text-align: center;
      font-weight: 700;
      gap: 4px;
      flex-direction: column;
      position: relative;
      z-index: 10;
      text-decoration: none;
      @include flex(center, center);
      @include mq(tablet-wide, max) {
        gap: 0;
      }
      
      &:hover {
        span {
          color: #FFD700;
        }
        .ico-buy {
          background-color: #FFD700;
        }
  
        .ico-faq{
          background-color: #FFD700;
        }
      }
    }

    span {
      display: block;
      color: #ffffff;
      font-weight: 500;
      text-align: center;
      font-size: 14px;
      letter-spacing: 0.5px;
      position: relative;
      z-index: 10;
      @include mq(desktop, max) {
        font-size: 12px;
      }
      @include mq(tablet-wide, max) {
        @include textBlind;
      }
    }

    i {
      width: 28px;
      height: 28px;

      @include mq(desktop, max) {
        width: 24px;
        height: 24px;
      }
       // Floating menu icons
      &.ico-buy {
        @include svgIconMask("../img/ico/ico_floating_buy.svg",#fff);
      }

      &.ico-faq{
        @include svgIconMask("../img/ico/ico_floating_faq.svg",#fff);
      }

    }
   
  }
}
