@use "../import/_mixin" as *;

// =======================================
// Floating Menu Component
// =======================================

.floating-menu {
  width: 82px;
  height: 424px;
  position: fixed;
  top: 96px;
  right: 0px;
  z-index: 20;
  background: url("../img/floating_bg_r4.png");
  background-size: cover;
  padding: 52px 0 44px;
  z-index: 99;
  ul {
    width: 100%;
    height: max-content;
    flex-direction: column;
    @include flex(center, center);
  }
 
  li {
    height: 50px;
    display: flex;
    align-items: center;

    a {
      width: 100%;
      text-align: center;
      display: block;
      padding-left: 6px;

      &:hover {
        span {
          color: var(--color-yellow);
          font-weight: 500;
        }
      }

      i {
        width: 28px;
        aspect-ratio: 1/1;
        margin: 0 auto;
      }
    }

    span {
      display: block;
      color: #ffffff;
      font-weight: 400;
      text-align: center;
      font-size: 14px;
    }

    // Floating menu icons
    &.floating-buy a i {
      background-image: url(../img/ico_floating_buy.svg);
    }

    &.floating-faq a i {
      background-image: url(../img/ico_floating_faq.svg);
    }

    &.floating-download {
      a i {
        background-image: url(../img/ico_floating_download.svg);
      }

      a:hover i {
        background-image: url(../img/ico_floating_download_on.svg);
      }
    }

    &.floating-guide a i {
      background-image: url(../img/ico_floating_book.svg);
    }

    &.floating-buy a:hover i {
      background-image: url(../img/ico_floating_buy_on.svg);
    }

    &.floating-faq a:hover i {
      background-image: url(../img/ico_floating_faq_on.svg);
    }

    &.floating-guide a:hover i {
      background-image: url(../img/ico_floating_book_on.svg);
    }
  }
}
