@use "../import/_mixin" as *;

.footer {
  position: relative;
  width: 100%;
  background: #14100c;
  color: var(--text-white);
  padding: 16px 60px;
  z-index: 9;
  @include mq(desktop-small, max) {
    padding: 16px 32px;
  }
  @include mq(tablet-small, max) {
    padding: 40px 32px;
  }
  
  &-wrap {
    width: 100%;
    gap: 40px;
    @include flex(flex-start,space-between);
    @include mq(desktop-small, max) {
      gap:24px;
    }
    @include mq(tablet-small, max) {
      flex-direction: column;
    }
  }
  &-menu {
    gap: 32px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    @include flex(center, space-between);
    @include mq(desktop, max) {
      display: none;
    }
  }
  .comp{
    &-info {
      min-width: 240px;
      flex-direction: column;
      color: #ffffff80;
      @include flex(flex-start, flex-start);
      .logo {
        width: 200px;
        height: 45px;
        opacity: 0.8;
        img {
          vertical-align: middle;
        }
      }
      .ceo {
        font-size: 14px;
        em {
          font-size: 18px;
          font-weight: 500;
          margin-left: 4px;
          @include mq(tablet-small, max) {
            font-size: 14px;
          }
        }
      }
    }
    &-inner {    
      width: 100%;
      font-size: 16px;
      color: #ffffff80;
      gap: 8px;
      flex-wrap: wrap;
      @include flex(center, space-between);
      @include mq(tablet-small, max) {
        display: grid;
        grid-template-columns: 100%;
        gap: 16px;
        font-size: 14px;
      }
    }
    &-contact{
      width: max-content;
      gap: 56px;
      @include flex(center, space-between);

      @include mq(desktop-small, max) {
        
        justify-content: end;
      }
      @include mq(tablet-small, max) {
        width: inherit;
        max-width: 400px;
        grid-row: 3;
      }
    }
    
    
  }
  .footer-close {
    display: none;
  }
  .privacy-box {
    font-size: 18px;
    font-weight: 500;
    gap: 40px;
    @include flex( center, flex-start);
    @include mq(tablet-small, max) {
      font-size: 14px;
    }
    .privacy {
      position: relative;
      color: #ffffff;
      opacity: 0.9;
      &::after {
        position: absolute;
        content: "|";
        font-weight: 300;
        font-size: 16px;
        color: #aaa;
        top: 1px;
        right: -22px;
        @include mq(tablet-small, max) {
          font-size: 12px;
        }
      }
    }
  }
  .footer-family {
    position: relative;
     width: 160px;
     @include mq(tablet-small, max) {
      width: 100%;
      max-width: 400px;
    }
    .btn-family {
      position: relative;
      min-width: 160px;
      width: 100%;
      color: #fff;
      font-weight: 500;
      position: relative;
      background: #2c2121;
      font-weight: 500;
      padding: 8px 12px;
      @include flex(center, space-between);
      &.open {
        &::after {
          transform: scaleY(1);
        }
      }
      &::after {
        content: " ";
        width: 12px;
        aspect-ratio: 1 / 1;
        background-image: url(../images/ico/ico_angle.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: scaleY(-1);
        transition: 0.2s;
      }
    }
    .family-list {
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      padding: 0 10px;
      background: #fff;
      border-radius: 4px 4px 0 0;
      color: #777;
      font-size: 12px;
      box-sizing: border-box;
      box-shadow: 0px -2px 10px #00000022;
      display: none;
      &.open {
        display: block;
      }
      li {
        padding: 8px 0;
        border-bottom: 1px solid #ddd;
      }
    }
  }
  .address {
    color: #ffffffaa;
    display: flex;
    flex-wrap: wrap;
    gap: 2px 24px;
    min-width: 60%;
  }
  .copyright {
    @include mq(desktop-small, max) {
      font-size: 13px;
    }
  }
}
.main {
  .footer {
    display: none;
    height: max-content;
    background: #14100cdd;
    @include mq(tablet-small, max) {
      display: none !important;
    }
    &.on {
      position: absolute;
      bottom: 0;
      display: block;
      animation: slideUp 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
    .footer-close {
      background: url(../images/ico/ico_footer_close.svg) no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      width: 40px;
      height: 36px;
      top: -36px;
      left: 0;
      display: block;
      @include textBlind();
    }
  }
  
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
