// =======================================
// Intro Component
// =======================================

.sub-header {
  display: flex;
  flex-direction: column;
  gap: 96px;
  position: relative;
  background-color: #333;
  &::after {
    position: absolute;
    white-space: pre;
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 85%;
  }

  .page-title {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    span {
      color: #fff;
      font-size: 22px;
    }
  }

  .keyword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    text-align: center;

    span {
      font-weight: 700;
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }
  }
}
