// =======================================
// Fixed Layout Component
// =======================================

.layout-fix-left {
  width: 100%;
  display: flex;
  position: relative;

  .left {
    min-width: 700px;
    height: 200%;
    padding: 100px 0 0 200px;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;

    .bg {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      &.on {
        z-index: -1;
      }
    }

    .mid-tit {
      color: #fff;
      display: block;
    }
  }

  .right {
    width: 100%;
    max-width: 1373px;
  }

  // 2개 이상일 때만: 비활성 opacity 0.5 (1개면 .is-single로 미적용)
  &:not(.is-single) {
    .left .mid-tit {
      opacity: 0.5;

      &.on {
        opacity: 1;
      }
    }

    .left .js-fixLeft-tit > li:not(.on) {
      opacity: 0.5;
    }
  }
}
