@use "../../import/_mixin" as *;

// =======================================
// Analysis Page - Base Styles
// =======================================
// 기본 스타일: wrap, sub-header, sub-content, diagram

.wrap:has(.container.analysis) {
  overflow: visible;
}

.analysis {
  .sub-header {
    background-image: url(../img/analysis/bg_analysis_title.jpg);
  }

  .sub-content {
    &::before {
      content: "Data Analysis";
      @include mq(tablet-wide, max) {
        content: "Data\A Analysis";
      }
    }
      // 원형 배치 요소 링 (6개 항목)
      .dia-element-ring {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        z-index: 2;
        pointer-events: none;

    .dia-element {
      width: max-content;
      gap: 12px;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-50%, -50%) rotate(var(--angle, 0deg)) translateY(-210px) rotate(calc(-1 * var(--angle, 0deg)));
      display: flex;
      flex-direction: column;
      align-items: center;
      pointer-events: auto;

      @include mq(tablet-small, max) {
        transform: translate(-50%, -50%) rotate(var(--angle, 0deg)) translateY(-170px) rotate(calc(-1 * var(--angle, 0deg)));
      }
      @include mq(phone-wide, max) {
        transform: translate(-50%, -50%) rotate(var(--angle, 0deg)) translateY(-140px) rotate(calc(-1 * var(--angle, 0deg)));
      }


      .line {
          width: 0;
          height: 38px;
          border-left: 1px dashed #046A50;
          position: relative;
          flex-shrink: 0;
          transform: rotate(var(--angle, 0deg));
          transform-origin: center top;
          @include mq(tablet-small, max) {
            height: 32px;
          }

      }

      .dia-tit {
        font-size: 18px;
        line-height: 1.25;
        white-space: nowrap;
        @include mq(tablet-small, max) {
          font-size: 1.2rem;
        }


      }

      i {
        width: 48px;
        aspect-ratio: 1 / 1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        @include mq(tablet-small, max) {
          width: 3.2rem;
        }
      }

      &.dia-element01 {
        top: -20px;
        @include mq(tablet-small, max) {
          top: -16px;
          .dia-tit { 
            flex-direction: column-reverse;
          }
        }
        i {
          background-image: url(../img/ico/ico_statistic.svg);
        }
      }

      &.dia-element02 {
        top: 10px;
        margin-left: 60px;
        flex-direction: row-reverse;
       
        @include flex(flex-end, flex-start);
        @include mq(tablet-small, max) {
          top: -14px;
          margin-left: 20px;
        }
        
        .dia-tit {
          flex-direction: row;

          @include mq(tablet-small, max) {
            flex-direction: column;
            align-items: flex-start;
          }   
          span {
            text-align: left;
          }  
          
        }
        i {
          background-image: url(../img/ico/ico_mind_map.svg);
        }

      }

      &.dia-element03 {
        top: 10px;
        margin-left: -60px;
        flex-direction: row;
        
        @include flex(flex-end, flex-start);
        @include mq(tablet-small, max) {
          top: -14px;
          margin-left: -20px;
        }
        .dia-tit {
          flex-direction: row-reverse;
          text-align: left;
          @include mq(tablet-small, max) {
            flex-direction: column;
            align-items: flex-end;
            
          }   
          span {
            text-align: right;
          }  
        }
        i {
          background-image: url(../img/ico/ico_graph_box.svg);
        }

      }
    }
    }

    .dia-circles-wrap {
      .circle-belt {
        background: #F0F7F5;
        border: 1px solid #B6D0C9;
      }

      .circle-dash {
        border: 1px dashed #B6D0C9;
      }

      .circle-dots {
        &.move {
          .dot {
            background: #046A50;
          }
        }

        .dot {
          background: #046A50;

          &:nth-child(1) {
            top: 0%;
            left: calc(50% - 4px);
            transform: translateY(-50%);
          }

          &:nth-child(2) {
            top: 75%;
            left: 5.5%;
            transform: translateY(-50%) rotate(120deg);
          }

          &:nth-child(3) {
            top: 75%;
            right: 5.5%;
            transform: translateY(-50%) rotate(240deg);
          }
        }

        &.move {
          animation-name: dot-rotate3;
        }
      }

      .circle-core {
        position: relative;
        line-height: 95%;
        
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
          @include maskContents();
          padding: 4px;
        }
        
        span:first-child {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }
}
