// =======================================
// Value Page Animations
// =======================================

@keyframes h-draw {
  0% {
    width: 0;
  }
  30% {
    width: 0;
  }
  70% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes v-center {
  0% {
    top: 0;
  }
  30% {
    top: 0;
    height: 80px;
  }
  100% {
    top: 0;
    height: 100%;
  }
}

@keyframes v-side {
  0% {
    height: 0;
  }
  70% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes dot-center {
  0% {
    top: 0;
    left: calc(50% - 3.5px);
  }
  30% {
    top: calc(0px - 3.5px);
    left: calc(50% - 3.5px);
  }
  100% {
    top: calc(0px - 3.5px);
    left: calc(50% - 3.5px);
  }
}

@keyframes dot-side-left {
  0% {
    top: 0;
    left: calc(50% - 3.5px);
  }
  30% {
    top: calc(0px - 3.5px);
    left: calc(50% - 3.5px);
  }
  70% {
    top: calc(0px - 3.5px);
    left: calc(25% - 3.5px);
  }
  100% {
    top: calc(0px - 3.5px);
    left: calc(25% - 3.5px);
  }
}

@keyframes dot-side-right {
  0% {
    top: 0;
    left: calc(50% - 3.5px);
  }
  30% {
    top: calc(0px - 3.5px);
    left: calc(50% - 3.5px);
  }
  70% {
    top: calc(0px - 3.5px);
    left: calc(75% - 3.5px);
  }
  100% {
    top: calc(0px - 3.5px);
    left: calc(75% - 3.5px);
  }
}
