@use "../../import/_mixin" as *;
@use "mixins" as *;
@use "variables" as *;

// =======================================
// Intro Section
// =======================================
.value {
  .intro {
    @include value-bg-cover("../img/value_introbg.png");
    color: map-get($value-colors, white);
    padding-bottom: 370px;
    
    @include mq(desktop, max) {
      padding-bottom: 200px;
    }
    
    @include mq(tablet-small, max) {
      padding-bottom: 100px;
    }

    .top {
      height: 240px;
      margin-top: 150px;
      
      @include mq(desktop, max) {
        height: 180px;
        margin-top: 100px;
      }
      
      @include mq(tablet-small, max) {
        height: 120px;
        margin-top: 60px;
      }
    }

    .summarys-wrap {
      display: block;
      width: 100%;

      .diagram-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: map-get($value-sizes, gap-xl);
        margin: 60px 0;
        
        @include mq(tablet-small, max) {
          margin: 40px 0;
          gap: map-get($value-sizes, gap-md);
        }
      }

      .dia-element-wrap {
        position: absolute;
        display: flex;
        gap: map-get($value-sizes, gap-xxl);
        z-index: 10;
        
        @include mq(tablet-small, max) {
          position: relative;
          flex-direction: column;
          gap: map-get($value-sizes, gap-lg);
        }
      }

      .dia-element {
        display: flex;

        &:nth-child(1) {
          flex-direction: row-reverse;
        }

        &:nth-child(2) {
          flex-direction: column;
          margin-top: 650px;
        }

        &:nth-child(3) {
          flex-direction: row;
        }

        .dia-tit {
          width: 150px;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: map-get($value-sizes, border-radius-full);
          
          @include mq(tablet-small, max) {
            width: 120px;
            height: 120px;
          }

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 120%;
            border: 6px solid #00000033;
            border-radius: map-get($value-sizes, border-radius-full);
            padding: 0 map-get($value-sizes, padding-md);
            
            @include mq(tablet-small, max) {
              border-width: 4px;
              padding: 0 map-get($value-sizes, padding-sm);
              font-size: 1.2rem;
            }
          }
        }

        &:nth-child(1) .dia-tit {
          background: linear-gradient(180deg, #FDE0C080 0%, #B0917000 100%), 
                      url(../img/dia_valuebg01.png), 
                      linear-gradient(180deg, map-get($value-colors, brown-dark) 0%, map-get($value-colors, brown-dark) 100%);
          background-size: cover;
          background-repeat: no-repeat;
          background-blend-mode: hard-light, multiply, normal;
        }

        &:nth-child(2) .dia-tit {
          background: linear-gradient(180deg, #48D7AC80 0%, #86B6A800 100%), 
                      url(../img/dia_valuebg02.png), 
                      linear-gradient(180deg, map-get($value-colors, green-light) 0%, map-get($value-colors, green-light) 100%);
          background-size: cover;
          background-repeat: no-repeat;
          background-blend-mode: hard-light, multiply, normal;
        }

        &:nth-child(3) .dia-tit {
          background: linear-gradient(180deg, #92929280 0%, #92929280 100%), 
                      url(../img/dia_valuebg03.png), 
                      linear-gradient(180deg, #ED7D31 0%, #ED7D31 100%);
          background-size: cover;
          background-repeat: no-repeat;
          background-blend-mode: hard-light, multiply, normal;
        }
      }

      .dia-li {
        padding: map-get($value-sizes, padding-md);
        border-radius: map-get($value-sizes, border-radius-md);
        width: 260px;
        
        @include mq(tablet-small, max) {
          width: 100%;
          max-width: 280px;
          padding: map-get($value-sizes, padding-sm);
        }

        li {
          text-indent: 0;
          list-style: disc;
          font-size: map-get($value-font-sizes, sm);
          line-height: 28px;
          margin-left: 24px;
          margin-bottom: 4px;
          
          @include mq(tablet-small, max) {
            font-size: 1.3rem;
            line-height: 1.6;
            margin-left: 20px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &.dia-li-tit {
            list-style: none;
            font-weight: 500;
            font-size: map-get($value-font-sizes, md);
            margin-left: 0;
            margin-bottom: 10px;
            
            @include mq(tablet-small, max) {
              font-size: 1.5rem;
            }
          }
        }
      }

      .dia-element:nth-child(1) .dia-li {
        background: linear-gradient(180deg, #583c1cb3 0%, map-get($value-colors, brown-dark) 100%);
      }

      .dia-element:nth-child(2) .dia-li {
        background: linear-gradient(180deg, map-get($value-colors, green-dark) 0%, #00583E99 100%);
        border: 1px solid #08181399;
      }

      .dia-element:nth-child(3) .dia-li {
        background: linear-gradient(180deg, map-get($value-colors, orange-dark) 0%, #BB5F09cc 100%);
      }

      .dia-element .dia-line {
        height: 1px;
        width: 10px;
        display: block;
      }

      .dia-element:nth-child(1) .dia-line {
        background: map-get($value-colors, brown-dark);
      }

      .dia-element:nth-child(2) .dia-line {
        background: #01593E;
        width: 1px;
        height: 10px;
      }

      .dia-element:nth-child(3) .dia-line {
        background: #DF6C01;
      }

      .dia-appendix {
        position: absolute;
        bottom: -160px;
        width: 75%;
        display: flex;
        justify-content: space-evenly;

        .app-bg {
          background: url(../img/value_arc.svg);
          background-size: cover;
          text-align: center;
          width: 300px;
          height: 310px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:nth-child(2) {
            background: url(../img/value_arc_r.svg);
          }
        }

        .app-etc {
          @include value-box-gradient(90deg, map-get($value-colors, brown-dark), map-get($value-colors, green-dark));
          padding: 10px 32px;
          border-radius: map-get($value-sizes, border-radius-full);
          border: 1px solid #000000cc;
          display: inline-block;
          transform: translate(-50px, 30px);
        }

        .app-bg:nth-child(2) .app-etc {
          @include value-box-gradient(90deg, map-get($value-colors, green-dark), #df6c00);
          transform: translate(50px, 30px);
        }
      }

      .dia-circles-wrap {
        width: 490px;
        height: 490px;
        padding: 25px;
        box-sizing: border-box;
        border: 1px solid #ffffff33;
        border-radius: map-get($value-sizes, border-radius-full);

        .circle-dash {
          border: none;
        }

        .circle-belt {
          background: none;
        }

        .circle-core {
          width: 90%;
          height: 90%;
          line-height: 95%;
          background: linear-gradient(-45deg, #ffffff10 0%, #ffffff00 100%), 
                      linear-gradient(180deg, #007f5bb6 0%, #81410040 70%);
          border: 1px dashed #ffffff66;

          img {
            width: 196px;
          }

          span:first-child {
            font-size: map-get($value-font-sizes, md);
            font-weight: 400;
          }
        }

        .circle-dots {
          opacity: 0;

          .dot {
            background-color: map-get($value-colors, white);
            top: -4px;
            right: 49%;
            left: initial;
          }

          &.move {
            opacity: 0.5;
            animation: none;
            left: 50%;
            top: 50%;

            .dot {
              animation-duration: 9s;
              animation-iteration-count: infinite;
              animation-timing-function: ease-out;
              transform-origin: 2px 248px;

              &:nth-child(1) {
                animation-name: dot-rotate-road1;
              }

              &:nth-child(2) {
                animation-name: dot-rotate-road2;
              }

              &:nth-child(3) {
                animation-name: dot-rotate-road3;
              }
            }
          }
        }
      }
    }

    .diagram-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: map-get($value-sizes, gap-xl);
      position: relative;
      
      @include mq(tablet-small, max) {
        gap: map-get($value-sizes, gap-md);
      }
    }

    .dia-element-wrap {
      width: 100%;
      position: absolute;
      display: flex;
      gap: map-get($value-sizes, gap-xxl);
      z-index: 10;
      top: 0;
      justify-content: center;
      align-items: flex-start;
      margin-top: 150px;
      
      @include mq(desktop, max) {
        margin-top: 100px;
      }
      
      @include mq(tablet-small, max) {
        position: relative;
        flex-direction: column;
        margin-top: 40px;
        gap: map-get($value-sizes, gap-lg);
        align-items: center;
      }
    }

    .dia-element {
      display: flex;

      &:nth-child(1) {
        flex-direction: row-reverse;
        margin-top: 7px;
        
        @include mq(tablet-small, max) {
          margin-top: 0;
        }
      }

      &:nth-child(2) {
        flex-direction: column;
        margin-top: 260px;
        
        @include mq(desktop, max) {
          margin-top: 180px;
        }
        
        @include mq(tablet-small, max) {
          margin-top: 0;
        }
      }

      &:nth-child(3) {
        flex-direction: row;
      }
      
      @include mq(tablet-small, max) {
        width: 100%;
        max-width: 320px;
        flex-direction: column;
        align-items: center;
      }

      .dia-tit {
        width: 150px;
        aspect-ratio: 1/1;
        
        @include mq(tablet-small, max) {
          width: 120px;
        }
      }
    }
  }
}
