@use "../../import/_mixin" as *;
@use "mixins" as *;
@use "variables" as *;

// =======================================
// System Section
// =======================================
.value {
  .system-bg {
    width: 100%;
    height: 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: -1;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100vh;
      background-image: url(../img/value_system_bg.png);
      background-position: center bottom;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .system {
    width: 100%;
    height: 1100px;
    overflow: hidden;
    position: relative;
    
    @include mq(desktop, max) {
      height: auto;
      min-height: 800px;
    }
    
    @include mq(tablet-small, max) {
      min-height: 600px;
    }

    .system-tit {
      width: 100%;
      height: 300px;
      background-color: map-get($value-colors, white);
      padding-left: 200px;
      
      @include mq(desktop, max) {
        height: 200px;
        padding-left: 100px;
      }
      
      @include mq(tablet-small, max) {
        height: 150px;
        padding-left: 16px;
        padding-right: 16px;
      }

      span {
        display: block;
        transform: translateY(141%);
        font-size: map-get($value-font-sizes, huge);
        line-height: 90%;
        font-weight: 900;
        color: map-get($value-colors, text-gray);
        
        @include mq(desktop, max) {
          font-size: 5rem;
        }
        
        @include mq(tablet-small, max) {
          font-size: 3rem;
          transform: translateY(120%);
        }

        em {
          color: map-get($value-colors, white);
        }
      }
    }

    .diagram-wrap {
      width: 480px;
      height: 400px;
      position: absolute;
      bottom: 130px;
      right: 24%;
      
      @include mq(desktop, max) {
        width: 360px;
        height: 300px;
        bottom: 80px;
        right: 10%;
      }
      
      @include mq(tablet-small, max) {
        position: relative;
        width: 100%;
        max-width: 320px;
        height: auto;
        bottom: auto;
        right: auto;
        margin: 40px auto;
      }

      .dia-circles-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 360px;
        height: 360px;
        
        @include mq(desktop, max) {
          width: 280px;
          height: 280px;
        }
        
        @include mq(tablet-small, max) {
          position: relative;
          width: 100%;
          max-width: 280px;
          height: auto;
          aspect-ratio: 1/1;
          transform: none;
          top: auto;
          left: auto;
          margin: 0 auto;
        }

        &::after {
          border: 1px solid map-get($value-colors, white);
          background-color: #604F324d;
          mix-blend-mode: color-burn;
          width: 120%;
          height: 120%;
        }

        .circle-belt {
          background: none;
          border: 1px dashed #ffffff66;
        }

        .circle-core {
          background: none;
          box-shadow: none;
          width: 100%;
          height: 100%;

          span {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0px;
            font-size: map-get($value-font-sizes, md);
            font-weight: 300;
            line-height: 70%;
            border-radius: map-get($value-sizes, border-radius-full);
            width: 50%;
            height: 50%;
            color: map-get($value-colors, white);
            box-shadow: 0 1px 4px #00000077;
            
            @include mq(tablet-small, max) {
              font-size: 1.2rem;
              padding: 8px;
            }

            b {
              font-size: map-get($value-font-sizes, lg);
              
              @include mq(tablet-small, max) {
                font-size: 1.4rem;
              }
            }

            &:nth-child(1) {
              background: linear-gradient(180deg, map-get($value-colors, green-system) 0%, #124133cc 100%);
              border: 2px solid #17503dcc;
              top: 0;
              z-index: 2;
              background-clip: content-box;
            }

            &:nth-child(2) {
              background: linear-gradient(180deg, map-get($value-colors, gray-dark) 0%, #1d1810 100%);
              border: 2px solid map-get($value-colors, gray-dark);
              bottom: 11%;
              left: 4%;
              z-index: 0;
              background-clip: content-box;
            }

            &:nth-child(3) {
              background: linear-gradient(-60deg, map-get($value-colors, orange-system) 0%, #BC4C0080 100%);
              border: 2px solid #F67A2780;
              bottom: 11%;
              right: 4%;
              z-index: 1;
              background-clip: content-box;
            }

            &:nth-child(4) {
              top: 7%;
              right: -18%;
              box-shadow: none;
            }
          }
        }

        .circle-dots {
          .dot {
            background-color: map-get($value-colors, white);

            &:nth-child(1) {
              top: 0;
              left: calc(50% - 4px);
            }

            &:nth-child(2) {
              top: initial;
              bottom: 23%;
              left: 6%;
            }

            &:nth-child(3) {
              top: initial;
              bottom: 23%;
              right: 6%;
            }

            &:nth-child(4) {
              top: 32%;
              left: initial;
              right: -9%;
            }
          }

          &.move {
            animation-name: dot-rotate3;
          }
        }
      }

      .dia-element {
        position: absolute;
        display: initial;
        
        @include mq(tablet-small, max) {
          position: relative;
          display: block;
          margin-bottom: 20px;
        }

        .dia-text {
          color: map-get($value-colors, white);
          li::before {
            display: none;
          }
          
          @include mq(tablet-small, max) {
            font-size: 1.3rem;
          }
        }

        &:nth-child(1) {
          top: -42%;
          left: 50%;
          transform: translateX(-50%);
          
          @include mq(tablet-small, max) {
            top: auto;
            left: auto;
            transform: none;
          }
          
          .dia-text {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: right;
            transform: translateX(-5%);
            width: 320px;
            
            @include mq(tablet-small, max) {
              display: block;
              text-align: center;
              transform: none;
              width: 100%;
            }
          }
        }

        &:nth-child(2) {
          width: inherit;
          bottom: 0%;
          right: 100%;
          text-align: right;
          
          @include mq(tablet-small, max) {
            bottom: auto;
            right: auto;
            text-align: center;
          }
        }

        &:nth-child(3) {
          width: inherit;
          bottom: 0%;
          left: 100%;
          
          @include mq(tablet-small, max) {
            bottom: auto;
            left: auto;
            text-align: center;
          }
        }

        &:nth-child(4) {
          width: inherit;
          top: 126px;
          left: 100%;
          
          @include mq(tablet-small, max) {
            top: auto;
            left: auto;
            text-align: center;
          }
        }

        .line {
          position: absolute;
          width: 80px;
          height: 1px;
          background-color: map-get($value-colors, white);
          z-index: 10;
          
          @include mq(tablet-small, max) {
            display: none;
          }
        }

        &:nth-child(1) .line {
          width: 60px;
          bottom: -40px;
          left: 130px;
          transform: rotate(90deg);
        }

        &:nth-child(2) .line {
          top: 51px;
          right: -94px;
          transform: rotate(-30deg);
        }

        &:nth-child(3) .line {
          top: 26px;
          left: -94px;
          transform: rotate(30deg);
        }

        &:nth-child(4) .line {
          width: 40px;
          top: 12px;
          left: -30px;
        }
      }
    }

    .value-features {
      .lines {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &.move-ani {
          * {
            animation-duration: 1s;
            animation-fill-mode: both;
            position: absolute;
          }

          div[class^="v"] {
            top: 0px;
            border-left: 1px solid map-get($value-colors, gray-line);
            width: 1px;
            height: 0;
          }

          div[class^="d"] {
            width: 6px;
            height: 6px;
            border-radius: map-get($value-sizes, border-radius-full);
            background-color: map-get($value-colors, gray-dot);
          }

          .h {
            border: 1px solid map-get($value-colors, gray-line);
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 100%;
            border-left: 0;
            border-right: 0;
            animation-name: h-draw;
          }

          .v1 {
            left: calc(50% - 1px);
            animation-name: v-center;
          }

          .v2 {
            left: 25%;
            animation-name: v-side;
          }

          .v3 {
            left: 75%;
            animation-name: v-side;
          }

          .d1 {
            animation-name: dot-center;
          }

          .d2 {
            animation-name: dot-side-left;
          }

          .d3 {
            animation-name: dot-side-right;
          }
        }
      }
    }
  }
}
