// =======================================
// Provided Page Animations
// =======================================

@keyframes drawLine {
  to {
    height: 100px;
  }
}

@keyframes moveBullet {
  to { offset-distance: 100%; }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
