@use "../../import/_mixin" as *;

// =======================================
// Sub Content Section
// =======================================
.provided {
  .sub-content {
    &::before {
      content: "Provided Data";
      bottom: 34px;
      letter-spacing: -0.06em;
      @include mq(tablet-wide, max) {
        content: "Provided\A Data";
      }
    }
  }
}
 