// =======================================
// Provided Page Variables
// =======================================

$provided-natural-color: #00832A;
$provided-social-color: #A55500;
$provided-natural-dl-bg: linear-gradient(180deg, #EAFFF1 0%, rgba(255, 255, 255, 0.00) 101.39%);
$provided-social-dl-bg: linear-gradient(180deg, #FFF2E5 0%, rgba(255, 255, 255, 0.00) 101.39%);
$provided-natural-fig-bg: linear-gradient(90deg, var(--L_Green, rgba(0, 131, 42, 0.50)) 0%, rgba(0, 131, 42, 0.00) 100%), var(--D_green, #1A543D);
$provided-social-fig-bg: linear-gradient(90deg, rgba(165, 85, 0, 0.50) 0%, rgba(165, 85, 0, 0.00) 100%), #6E412A;
$provided-bg-overlay: linear-gradient(90deg, #00000000 0, #00000080 100%);
