@use "../import/_mixin" as *;

// =======================================
// Common - Icons
// =======================================
// 공통 아이콘 스타일

i {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logo-c {
  display: block;
  background-image: url(../img/loco_kngil_c.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include textBlind();
}