// =======================================
// Common - Modal
// =======================================
// 모달 관련 스타일

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 30;

  .modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f1e9;
    padding: 40px 20px 20px 20px;
    border: 1px solid #888;
    width: 470px;
    min-height: 500px;
    border-radius: 8px;
    text-align: center;
  }

  .close {
    color: #000;
    float: right;
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    right: 12px;
    top: 12px;
    display: block;
    margin-left: auto;
    width: 26px;
    height: 26px;
    background: none;
    line-height: 1;
    filter: var(--text-shadow);
    transition: all 0.1s ease-in-out;

    &:hover,
    &:focus {
      color: #e00400;
      text-decoration: none;
      cursor: pointer;
      text-shadow: var(--text-stroke);
    }
  }
}

// =======================================
// Dim Background
// =======================================
.dim-background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--window-inner-height);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
