@use "../import/_mixin" as *;

// =======================================
// Common - Page Styles
// =======================================
// 페이지별 공통 스타일
// 주의: 좌우 여백 필요시 최소 200px (200px 이하 여백 사용 X - 플로팅과 겹침)
// "js__"로 시작하는 클래스는 JavaScript 전용입니다.

.sub-header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 96px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

   // Title Box Components
  .page-title {
    width: 100%;
    height: 480px;
    padding-bottom: 130px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    @include mq(tablet-wide, max) {
      height: 22rem;
      padding-bottom: 5rem;
    }

    h2 {
      color: var(--text-white);
      font-size: 70px;
      text-shadow: 0 0 12px rgba(0, 44, 30, 0.25);
      
      @include mq(tablet-wide, max) {
        font-size: 3.6rem;
        line-height: 1.2;
      }
    }

    .sub-txt {
      font-size: 22px;
      color: var(--text-white);
      @include mq(tablet-wide, max) {
        font-size: 1.4rem;
      }
    }
  }
}
.sub-content {
  position: relative;
  padding-top: 160px;
  padding-bottom: 250px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  gap: 100px;
  @include flex(center, center);
  @include mq(tablet-wide, max) {
    padding-bottom: 180px;
  }
  &::before{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 140px;
    opacity: 0.05;
    font-weight: 900;
    white-space: pre;
    text-align: left;
    line-height: 0.8em;
    letter-spacing: -0.04em;
    @include mq(tablet-wide, max) {
      font-size: 6rem;
      bottom: 20px;
      text-align: right;
      left: auto;
      right: 1.4rem;
    }
  }
}

.sub-tit-box {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -67px;
    left: calc(50% - 50px);
    width: 100px;
    height: 25px;
    background: url(../img/ico_title_obj.svg) no-repeat center center;
  }

  .sub-tit {
    font-weight: 400;
  }
}

.sub-tit {
  display: block;
  font-size: 32px; 
  font-weight: 700;
  text-wrap: balance;
  word-break: keep-all;
  @include mq(tablet-wide, max) {
    font-size: 2rem;
  }
}