// =======================================
// Common - Page Styles
// =======================================
// 페이지별 공통 스타일
// 주의: 좌우 여백 필요시 최소 200px (200px 이하 여백 사용 X - 플로팅과 겹침)
// "js__"로 시작하는 클래스는 JavaScript 전용입니다.

.sub-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sub-content {
  position: relative;
  padding-top: 160px;
  padding-bottom: 120px;
  padding-left: 24px;
  padding-right: 24px;
}

.sub-tit-box {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -67px;
    left: calc(50% - 50px);
    width: 100px;
    height: 25px;
    background: url(../img/ico_title_obj.svg) no-repeat center center;
  }

  .sub-tit {
    font-weight: 400;
  }
}
