@use "../import/_mixin" as *;

// =======================================
// Common - Typography
// =======================================
// 공통 타이포그래피 스타일

// Links
a {
  color: inherit;
}

// Headings
h2 {
  font-size: 70px;
  color: #fff;
  
  @include mq(desktop, max) {
    font-size: 5rem;
  }
  
  @include mq(tablet-small, max) {
    font-size: 3.6rem;
  }
}

// Title Classes
.big-tit {
  font-size: 64px;
  font-weight: 700;
  
  @include mq(desktop, max) {
    font-size: 4.5rem;
  }
  
  @include mq(tablet-small, max) {
    font-size: 3rem;
  }
}

.grand-tit {
  font-size: 64px;
  font-weight: 700;
  
  @include mq(desktop, max) {
    font-size: 4.5rem;
  }
  
  @include mq(tablet-small, max) {
    font-size: 3rem;
  }
}

.mid-tit {
  font-size: 52px;
  font-weight: 700;
  
  @include mq(desktop, max) {
    font-size: 3.5rem;
  }
  
  @include mq(tablet-small, max) {
    font-size: 2.4rem;
  }
}

.sub-tit {
  font-size: 32px;
  font-weight: 700;
  display: block;
  
  @include mq(desktop, max) {
    font-size: 2.4rem;
  }
  
  @include mq(tablet-small, max) {
    font-size: 1.8rem;
  }
}

// Text Elements
em {
  font-weight: 700;
}

.sub-text {
  font-size: 20px;
  line-height: 30px;
  display: block;
  text-align: justify;
  
  @include mq(tablet-small, max) {
    font-size: 1.4rem;
    line-height: 1.6;
  }
}

.txt-border {
  filter: drop-shadow(-1px 0 0 #000) drop-shadow(0 -1px 0 #000)
    drop-shadow(1px 0 0 #000) drop-shadow(0 1px 0 #000);
}

.tc-red {
  color: #f00;
}

// Title Box Components
.page-title {
  h2 {
    color: var(--text-white);
    font-size: 70px;
    text-shadow: 2px 2px 6px #2c2b2b;
    
    @include mq(desktop, max) {
      font-size: 5rem;
    }
    
    @include mq(tablet-small, max) {
      font-size: 3.6rem;
      line-height: 1.2;
    }
  }

  p {
    font-size: 22px;
    color: var(--text-white);
    
    @include mq(tablet-small, max) {
      font-size: 1.6rem;
    }
  }
}

.tit-box {
  h3 {
    font-size: 32px;
    color: var(--text-title);
  }

  p {
    font-size: 20px;
  }
}

.sec-title {
  h4 {
    font-size: 52px;
    color: var(--text-white);

    em {
      color: var(--text-title);
    }
  }
}

.txt-box {
  h3 {
    color: var(--text-title);
    font-size: 42px;
  }

  h4 {
    color: var(--text-title);
    font-size: 32px;
  }

  p {
    color: var(--text-sub);
    font-size: 20px;
  }
}
