@use "import/variables" as *;

// =======================================
// Font Language
// =======================================
html {
  font-size: $html-fz;
  &[lang="ko-KR"],
  &[lang="ko"] {
    font-family: $font-family-ko;
  }
  &[lang="en"],
  *[lang="en"] {
    font-family: $font-family-en;
    body {
      font-size: $body-fz + 2px;
      font-weight: 400;
    }
  }
  body {
    font-size: $body-fz;
    font-weight: 400;
    line-height: $line-height;
    color: $base-color;
    letter-spacing: -0.04em;
  }
}
