@use "import/_mixin" as *;

// =======================================
// Buy Page
// =======================================
.buy {
  .sub-header {
    background-image: url(../img/buy/bg_buy_title.jpg);
  }
  
  .intro .top {
    background-image: url(../img/buy_intro_bg.png);
  }

  .contents-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background: 
    linear-gradient(180deg, rgba(255, 255, 255, 0) 47.78%, #FFF 100%),
    url('../img/buy/bg_buy_content.png') center / cover no-repeat;
    overflow: hidden;
    .inner {
      max-width: 1568px;
      margin: 0 auto;
      padding: 194px 24px 150px 24px;
      @include mq(tablet-small, max) {
        padding: 120px 24px 120px 24px;
      }

    }

    .cont-wrapper {
      display: flex;
      gap: 24px;
      align-items: flex-start;
      position: relative;
      margin-top: 20px;
      @include mq(desktop-small, max) {
         flex-direction: column;
         gap: 54px;
      }

    }

    .cont-left {
      flex: 1;
      position: relative;
      @include mq(desktop-small, max){
        width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -50px;
        left: 50%;
        width: calc(1083/944 * 100%);
        height: 191px;
        background-image: url(../img/buy/bg_grid.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        translate: -50% 0;
      }
      @include mq(tablet-small, min){
        &::after{
          content: "";
          position: absolute;
          bottom: -18px;
          height: 24px;
          left: 50%;
          width: calc(909/926 * 100%);
          border-radius: 909px;
          opacity: 0.4;
          background: #5F8277;
          filter: blur(9.779411315917969px);
          translate: -50% -50%;
          mix-blend-mode: multiply;
        }
      }
      

      .cont-tit,
      .feature-list {
        position: relative;
        z-index: 1;
      }
    }
    
    .cont-tit {
      position: relative;
      font-size: 40px;
      font-weight: 400;
      color: var(--text-title);
      margin-bottom: 0;

      @include mq(tablet-small, max) {
        font-size: 28px;
      }
      
      &::before {
        content: "Purchase";
        position: absolute;
        top: -102px;
        left: -12px;
        font-size: 120px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.03);
        z-index: 0;
        pointer-events: none;
        line-height: 1;

        @include mq(tablet-small, max) {
          font-size: 80px;
          top: -60px;
        }
      }
    }
    
    .logo-c {
      display: inline-block;
      width: 177px;
      height: 44px;
      @include mq(tablet-small, max) {
        width: 7.6rem;
        height: 2rem;
      }
    }

    .feature-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      list-style: none;
      padding: 0;
      gap: 0;
      min-height: 300px;
      @include mq(desktop, max) {
        @include mq(desktop-small, min){
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto;
        }
      }
      @include mq(tablet-wide, max) {
        min-height: 200px;
      }
      @include mq(tablet-small, min) {
        border-radius: 12px;
        border-bottom: 1px solid #FFF;
        background: linear-gradient(180deg, rgba(6, 120, 46, 0.00) 0%, rgba(6, 120, 46, 0.05) 100%), linear-gradient(91deg, #FCFCFC -0.91%, #F7F8F8 99.01%);
        background-blend-mode: color-burn, normal;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
      }
      @include mq(tablet-small, max) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2.3rem;
        min-height: auto;
        gap: 8px;
        @include flex(stretch, center);

      }

      .feature-item {
        flex: 1;
        position: relative;
        flex-direction: column;
        transition: background 0.3s ease;
        @include flex(center, center);
        @include mq(desktop, max) {
          @include mq(desktop-small, min){
            padding: 20px 0px;
            flex-direction: row;
            gap: 20px;
            .pc-only{
              display: none;
            }
          }
        }
        @include mq(tablet-small, max) {
          flex: auto;
          flex-direction: row;
          justify-content: flex-start;
          gap: 0.8rem;
          min-width: 30%;
          padding: 0.8rem 1.2rem;
          border-radius: 4px;
          max-width: max-content;
          border: 1px solid #FFF;
          background: linear-gradient(180deg, rgba(6, 120, 46, 0.00) 0%, rgba(6, 120, 46, 0.05) 100%), linear-gradient(91deg, #FCFCFC -0.91%, #F7F8F8 99.01%);
          background-blend-mode: color-burn, normal;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
        }


        &:not(:last-child)::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: calc(70%);
          border-right: 1px dashed rgba(10, 91, 64, 0.4);

          @include mq(tablet-small, max) {
            display: none;
          }
        }

        &:hover {
          background: rgba(255, 255, 255, 1);
        }
      }

      .feature-item-inner {
        @include mq(tablet-small, max) {
          width: 30%;
        }
      }
      .feature-icon {
        position: relative;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        @include mq(tablet-small, max){
          height: auto;
          margin-bottom: 0px;
        }
        i {
          width: 60px;
          height: 60px;
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          @include mq(tablet-small, max){
              width: 2.4rem;  
              height: auto;
              aspect-ratio: 1/1;
          }

          &.ico-natural {
            background-image: url(../img/buy/ico_natural.svg);
          }

          &.ico-gis {
            background-image: url(../img/buy/ico_gis.svg);
          }

          &.ico-data {
            background-image: url(../img/buy/ico_data.svg);
          }

          &.ico-coordinate {
            background-image: url(../img/buy/ico_coordinate.svg);
          }

          &.ico-standard {
            background-image: url(../img/buy/ico_standard.svg);
          }
        }
      }

      .feature-decoration {
        width: 48px;
        height: 12px;
        margin: 0 auto 12px;
        @include svgIconMask("../img/ico_title_obj.svg", #1A543D);
        @include mq(tablet-small, max){
          width: 2rem;
          margin-bottom: 0;
        }
      }

      .feature-title {
        position: relative;
        font-size: 18px;
        font-weight: 700;
        color: #1A543D;
        line-height: 1.4;
        @include mq(tablet-wide, min) {
          width: max-content;
          margin: 0 0 12px 0;
          &::before{
            content: " ";
            position: absolute;
            bottom: -2px;
            left: -6px;
            display: block;
            width: calc(100% + 12px);
            height: 12px;
            background-color: #00832A;
            border-radius: 2px;
            opacity: 0.1;
          }
        }
        @include mq(tablet-wide, max) {
          @include mq(tablet-small, min) {
            text-align: center;
          }
        }
        @include mq(tablet-small, max) {
          font-size: 1.4rem;
          margin: 0px;
          white-space: nowrap;
        }

        
      }

      .feature-desc {
        font-size: 14px;
        color: #4C4C4C;
        margin: 0;
        text-align: center;
        text-wrap: balance;
        word-break: keep-all;
        @include mq(tablet-wide, max) {
          font-size: 13px;
          @include textBlind;
        }
      }
    }

    .cont-right {
      flex-shrink: 0;
      width: 554px;
      margin-top: -16px;
      position: relative;
      flex-direction: column;
      gap: 20px;
      z-index: 1;
      @include flex(space-between, flex-start);
      @include mq(desktop-small, max) {
          width: 100%;
      }
      @include mq(tablet-small, max) {
        width: 100%;
      }

      .contact-area {
      position: relative;
      padding: 24px 0px;
      color: #fff;
      flex-direction: column;
      gap: 15px;
      @include flex(space-between, flex-start);
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: -40px;
        width: 794px;
        height: 100%;
        border-radius: 8px 0 0 8px;
        border: 1px solid rgba(255, 255, 255, 0.40);
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 94.39%, rgba(255, 255, 255, 0.20) 100.62%), linear-gradient(101deg, var(--L_Green, #00832A) 0.75%, var(--D_green, #1A543D) 100.95%);
        background-blend-mode: overlay, normal;
        box-shadow: 2px 2px 4px 0 rgba(0, 67, 30, 0.10), 4px 4px 8px 0 rgba(40, 83, 59, 0.20), 12px 12px 16px 0 rgba(0, 67, 30, 0.10);
        @include mq(desktop-small, max) {
          width:  calc(100% + 48px);
          left: -24px;
          border-radius: 0;
        }
      }

      @include mq(tablet-small, max) {
        padding: 1.8rem 0px 2.4rem 0px;
      }

      .tit-box {
        position: relative;
        z-index: 1;
        gap: 8px;
        @include flex(center, flex-start);
        @include mq(desktop-small, max) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 0;
        }
        .tit {
          font-size: 28px;
          font-weight: 600;
          color: #fff;
          
          @include mq(tablet-small, max) {
            font-size: 2rem;
          }
        }
        .sub-text {
          font-size: 18px;
          color: #fff;
          opacity: 0.8;
          @include mq(desktop-small, min) {
            align-self: flex-end;
          }
          @include mq(tablet-small, max) {
            font-size: 1.4rem;
          }
        }
      }


      .contact-info {
        list-style: none;
        padding: 0;
        z-index: 1;
        li {
          display: flex;
          align-items: center;
          gap: 12px;
          margin-bottom: 16px;
          font-size: 16px;

          @include mq(tablet-small, max) {
            margin-bottom: 12px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          i {
            width: 32px;
            height: auto;
            aspect-ratio: 1/1;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
            filter: drop-shadow(0 2px 4px rgba(140, 161, 151, 0.30));
            @include mq(tablet-small, max) {
              width: 2.8rem;
            }
          }

          &.tel i {
            background-image: url(../img/buy/ico_tel.svg);
          }

          &.mail i {
            background-image: url(../img/buy/ico_mail.svg);
          }

          strong {
            color: #fff;
            font-size: 24px;
            @include mq(tablet-small, max) {
              font-size: 2rem;
            }
          }
        }
      }
    }

    .btn-wrap {
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: 367fr 179fr;
      gap: 8px;


      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 74px;
        padding: 0 20px;
        border-radius: 4px;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        white-space: nowrap;
        text-decoration: none;
        transition: all 0.3s ease;

        @include mq(tablet-small, max) {
          height: 4.8rem;
          font-size: 1.6rem;
        }

        i {
          width: 24px;
          aspect-ratio: 1/1;
          display: block;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          @include mq(tablet-small, max) {
            width: 2rem;
          }
        }

        &:hover {
          opacity: 0.9;
          transform: translateY(-2px);
        }

        &.btn-contact {
          border: 1px solid rgba(81, 74, 58, 0.50);
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #877D65 0%, #514A3A 100%);

          i {
            background-image: url(../img/buy/ico_contact.svg);
          }
        }

        &.btn-brochure {
          border: 1px solid rgba(81, 74, 58, 0.50);
          background: linear-gradient(180deg, #877D65 0%, #514A3A 100%);

          i {
            background-image: url(../img/buy/ico_brochure.svg);
          }
        }
      }
    }

    .info-msg {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      font-size: 18px;
      color: #423D2F;
      position: relative;
      z-index: 1;

      @include mq(tablet-small, max) {
        font-size: 1.2rem;
      }

      i {
        width: 16px;
        height: 16px;
        display: block;
        background-image: url(../img/buy/ico-alert.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
      }

      strong {
        color: #553E00;
      }
    }
    }
  }
}
