// =======================================
// FAQ Page
// =======================================
.faq {
  .intro {
    padding: 0;

    .top {
      background-image: url(../img/faq_intro_bg.png);
    }
  }

  .sub-tab {
    display: flex;
    width: 100%;
    height: 64px;
    padding: 0 0;
    position: absolute;
    bottom: 0;
    background-color: #00000077;

    li {
      width: 100%;
      height: 100%;
      color: #fff;
      padding-left: 370px;

      &:last-child {
        padding-left: 0;
        padding-right: 370px;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        &:hover {
          color: var(--color-yellow);
        }
      }

      &.on {
        background: linear-gradient(90deg, #1d8467 0%, #051612 100%);
        font-weight: 700;
        color: var(--color-yellow);
        border-left: none;
        border-right: none;

        &:first-child {
          background: linear-gradient(270deg, #1d8467 0%, #051612 100%);
        }
      }
    }
  }

  .sub-tit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    color: #000;
  }

  #hd_login_msg {
    display: none;
  }

  #container_wr {
    width: 100%;
    margin: 40px 0 120px;

    * {
      font-size: 16px;
      box-shadow: none !important;
    }
  }

  #container {
    width: 100%;
    margin: 0 auto;
    float: initial;
    padding: 0 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;

    &::after {
      display: none;
    }

    &:has(#bo_list) {
      display: block;
    }

    &:has(#bo_v) {
      display: block;
    }

    &:has(#bo_w) {
      display: block;
    }
  }

  #container_title {
    display: none;
  }

  #faq_hhtml {
    display: none;
  }

  #faq_thtml {
    display: none;
  }

  #faq_sch {
    grid-column: 2;
    padding: 0;
    margin: 0;
    background-color: initial;
    justify-self: flex-end;
    width: max-content;

    form {
      display: flex;
      gap: 8px;

      input {
        width: 300px;
        border: 1px solid #ddd;
      }
    }

    .btn_submit {
      background-color: var(--color-han-br);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      width: 88px;
      padding: 0;
    }
  }

  #bo_cate {
    grid-area: 1/1;
    padding: 0;
    margin: 0;

    h2 {
      display: none;
    }

    ul {
      display: none;
    }

    li {
      padding: 0;

      a {
        border: 1px solid #00000022 !important;
        color: #555;
        border-radius: 3px;
        height: 45px;
        display: flex;
        align-items: center;

        &:hover {
          background-color: #fafafa;
          color: #000;
        }
      }
    }

    #bo_cate_on {
      background-color: var(--color-yellow);
      color: #000;
    }
  }

  #faq_wrap {
    margin: 0;
    grid-column: span 2;
  }

  #faq_con {
    li {
      h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 0 16px;
        width: 100%;
        height: 64px;
        font-size: 16px;
        font-weight: initial;

        .tit_bg {
          font-weight: 700;
          font-size: 20px;
          position: initial;
          font-size: 16px;
          color: #555;
        }

        a {
          flex: 1;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          font-weight: 500;
        }

        .tit_btn {
          background: none;
        }
      }

      &:hover {
        background-color: #fafafa;

        h3 .tit_btn {
          color: #000;
        }
      }

      &:has(.faq_li_open) {
        background-color: #fafafa;
      }

      .faq_li_open a {
        color: #000 !important;
      }
    }

    .con_inner .closer_btn {
      border-radius: 3px;
      border: 1px solid #00000011;
      background-color: var(--color-green);
      color: #ffffff;
    }
  }

  #bo_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;

    &::after {
      display: none;
    }

    #bo_btn_top {
      grid-column: 2;
      margin: 0;

      #bo_list_total {
        display: none;
      }

      .btn_bo_user {
        li {
          &:first-child .btn_bo_sch {
            display: none;
          }

          &:last-child {
            display: none;
          }
        }
      }

      .bo_sch_wrap {
        display: block;
        position: initial;
      }

      .bo_sch {
        position: initial;
        margin: 0;
        border: none;
        background: none;
        border-radius: none;

        h3 {
          display: none;
        }

        form {
          padding: 0;

          #sfl {
            display: none;
          }

          .sch_bar {
            margin: 0;
            height: 45px;
            width: 100%;
            border: none;
            display: flex;
            gap: 8px;
          }

          .bo_sch_cls {
            display: none;
          }
        }

        .sch_input {
          width: 300px;
          height: 100%;
          border: 1px solid #ddd;
          border-radius: 3px;
          padding: 4px;

          &::placeholder {
            color: transparent;
          }
        }

        .sch_btn {
          width: 88px;
          height: 100%;
          background-color: var(--color-han-br);
          color: #fff;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          border-radius: 3px;

          .sound_only {
            position: initial;
            width: initial;
            height: initial;
            overflow: visible !important;
          }
        }
      }
    }

    #fqalist {
      grid-column: span 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 40px;

      .tbl_wrap {
        margin: 0;
        grid-column: span 3;
      }

      table {
        table-layout: fixed;
        border: none;
      }

      caption {
        display: none;
      }

      thead th {
        height: 48px;
        padding: 0;
        font-weight: 500;
        border-bottom: 1px solid #000;
        border-top: 2px solid #000;
      }

      tbody {
        td {
          color: #555;
          height: 60px;
          word-break: break-all;
          text-align: center;
          border-bottom: 1px solid #eee;
        }

        tr {
          td {
            background: none;
          }

          &:hover td {
            background: #fafafa;
          }

          &.answer {
            background-color: #ffdd0022;

            td em {
              color: #00000080;
              font-weight: 500;
            }
          }
        }

        .td_subject {
          display: flex;
          align-items: center;
          border-top: none;
          gap: 16px;
        }

        .bo_tit {
          text-align: left;
          width: 100%;
          text-decoration: none;
          font-weight: 500;
        }

        .bo_cate_link {
          width: 58px;
          height: 28px;
          font-size: 14px;
          font-weight: 500 !important;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--color-accent);
          background: none;
          position: relative;
          overflow: hidden;

          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--color-accent);
            opacity: 0.08;
          }
        }

        .td_stat {
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            color: #555;
            width: 80px;
            margin: 0 auto;
            border: 1px solid #00000011;
          }

          .txt_rdy {
            background-color: #fafafa;
          }

          .txt_done {
            background-color: var(--color-green);
            color: #fff;
          }
        }

        .td.tit {
          padding: 10px 0;
          color: #000;
          text-align: left;
        }

        td em {
          color: var(--color-orange);
        }

        .answer td.tit a {
          display: flex;
          justify-content: left;
          align-items: center;
          gap: 8px;
        }
      }

      .pg_wrap {
        grid-column: 2;

        .pg {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          width: 100%;
          height: 100%;

          * {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            background: none;
            border: none;
            color: #000;
            margin: 0;
            padding: 0;
            background-position: center;
            background-repeat: no-repeat;
          }

          .sound_only {
            display: none !important;
          }
        }

        .pg_current {
          background-color: var(--color-han-br);
          color: #fff;
        }

        .pg_start {
          background-image: url(../img/ico_pg_left.svg);
        }

        .pg_end {
          background-image: url(../img/ico_pg_right.svg);
        }
      }

      .bo_fx {
        grid-column: 3;
        margin: 0;
      }

      .btn_bo_user {
        li:first-child {
          display: none;
        }

        .btn_b01 {
          background-color: var(--color-han-br);
          color: #fff;
          border-radius: 3px;
          width: 120px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          .sound_only {
            position: initial;
            width: initial;
            height: initial;
            overflow: visible !important;
          }
        }
      }
    }
  }

  header {
    position: initial;
    padding: initial;
    height: initial;

    #bo_v_title {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 24px;
      color: #000;

      .bo_v_cate {
        width: 58px;
        height: 28px;
        font-size: 14px;
        font-weight: 500 !important;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-accent);
        background: none;
        position: relative;
        overflow: hidden;

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background-color: var(--color-accent);
          opacity: 0.08;
        }
      }
    }
  }

  #bo_v_info h2 {
    display: none;
  }

  #bo_v_top .bo_v_com {
    > li {
      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }
    }

    .more_opt li {
      width: 80px;

      i {
        margin-right: 4px;
      }
    }
  }

  #bo_v_atc h2 {
    display: none;
  }

  .bo_v_nb li:hover {
    background: none;
  }

  #bo_v_ans_form {
    h2 {
      display: flex;
      color: #000;
      overflow: visible;
      position: initial;
      font-size: 24px;
      line-height: initial;
      margin: 32px 0 16px;
    }

    .btn_cke_sc {
      display: none;
    }

    .btn_submit {
      background-color: var(--color-han-br);
      color: #fff;
    }
  }

  #bo_w {
    h2 {
      display: flex;
      color: #000;
      overflow: visible;
      position: initial;
      font-size: 24px;
      line-height: initial;
      margin-bottom: 16px;
    }

    .cke_sc {
      display: none;
    }

    .write_div {
      display: flex;
      justify-content: flex-end;
      gap: 8px;

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: 45px;
        padding: 0 16px;
        color: #000;
      }

      .btn_cancel {
        background-color: #eee;
      }

      .btn_submit {
        background-color: var(--color-han-gr);
        color: #fff;
      }
    }
  }

  .btn_submit:hover {
    background-image: linear-gradient(120deg, #ffffff40 0%, #27241D00 80%) !important;
    color: #fff !important;
  }
}
