// =======================================
// Floorplan Page
// =======================================
.floorplan {
  .intro .top {
    background-image: url(../img/floorplan_intro_bg.png);
  }

  .intro .condition {
    margin: 0 auto;
    text-align: center;
    position: relative;

    &::before {
      position: absolute;
      bottom: 0px;
      left: 32px;
      content: "Drawing\A management";
      font-size: 120px;
      opacity: 0.03;
      text-align: left;
      font-weight: 900;
      white-space: pre;
      line-height: 0.8em;
      letter-spacing: -0.04em;
    }

    .diagram-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      margin: 0 0 60px 0;
    }

    .dia-element-bottom {
      display: flex;
      gap: 331px;
      position: absolute;
      bottom: -55px;
    }

    .dia-element {
      gap: 12px;
      align-items: center;

      .line {
        width: 40px;
        height: 1px;
        background: var(--color-han-br);
      }

      i {
        width: 44px;
        height: 54px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      .dia-tit {
        font-size: 18px;
        line-height: 24px;
      }

      &.dia-element01 {
        i {
          background-image: url(../img/ico_floorplan_dia_01.svg);
        }

        .line {
          transform: rotate(90deg);
          top: calc(100% + 20px);
        }
      }

      &.dia-element02 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .dia-tit {
          text-align: right;
          white-space: nowrap;
        }

        i {
          background-image: url(../img/ico_floorplan_dia_02.svg);
        }

        .line {
          transform: rotate(-45deg);
          bottom: 100%;
          left: 100%;
          z-index: 1;
        }
      }

      &.dia-element03 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .dia-tit {
          text-align: left;
          white-space: nowrap;
          line-height: 120%;
        }

        i {
          background-image: url(../img/ico_floorplan_dia_03.svg);
        }

        .line {
          transform: rotate(45deg);
          bottom: 100%;
          right: 100%;
        }
      }
    }

    .circle-belt {
      background: linear-gradient(180deg, #9469241a 0%, #94692433 100%);
      border: 1px solid var(--color-han-br);
    }

    .circle-dash {
      border: 1px dashed #D4CBBD;
    }

    .dia-circles-wrap {
      .circle-dots {
        .dot {
          background: var(--color-han-br);

          &:nth-child(1) {
            top: 0%;
            left: calc(50% - 4px);
            transform: translateY(-50%);
          }

          &:nth-child(2) {
            top: 75%;
            left: 16px;
            transform: translateY(-50%) rotate(120deg);
          }

          &:nth-child(3) {
            top: 75%;
            right: 16px;
            transform: translateY(-50%) rotate(240deg);
          }
        }

        &.move {
          animation-name: dot-rotate3;
        }
      }

      .circle-core {
        line-height: 95%;

        span:first-child {
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }

  .key {
    margin-bottom: 160px;
    padding-top: 320px;
    gap: 48px;

    .left {
      overflow: initial;
      z-index: 10;

      .mid-tit {
        width: calc(100vw - 200px);
        height: 500px;
        transform: translateY(-320px);
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;

        span {
          position: absolute;
          bottom: -70px;
          left: 220px;

          em {
            color: #000;
          }
        }
      }

      ul {
        padding-top: 200px;
        padding-left: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        li {
          font-size: 20px;
          font-weight: 300;
          white-space: nowrap;

          &.on {
            font-size: 24px;
            color: var(--color-green);
            font-weight: 700;
          }

          em {
            margin-right: 12px;
            color: inherit;
            font-weight: inherit;
          }
        }
      }
    }

    .right {
      padding: 300px 200px 80px 0;
      display: flex;
      flex-direction: column;
      gap: 100px;

      .sub-tit {
        margin-bottom: 20px;
        color: var(--color-green);
      }

      .sub-text {
        text-align: justify;
        margin-bottom: 32px;
      }

      .sub-figs {
        background: var(--color-han-bgbr);
        width: 100%;
        display: flex;
        flex-direction: row;
        border-radius: 4px;

        .imgs {
          position: relative;
          width: 70%;

          img {
            width: 100%;

            &.apx {
              position: absolute;
            }
          }
        }

        .text {
          position: relative;
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          font-size: 18px;
        }

        .top {
          text-align: center;
        }

        .line {
          width: 40%;
          border-top: 1px solid #000;
          font-size: 0;
          box-sizing: border-box;

          img {
            margin: -1px auto 0;
            display: block;
          }
        }

        .bottom {
          display: flex;
          flex-direction: row;
          gap: 8px;
          color: var(--color-green);

          img {
            width: 40px;
          }
        }
      }

      .find01 .sub-figs .imgs img.apx {
        top: -10px;
        left: -10px;
        width: 235px;
      }

      .find02 .sub-figs .imgs img.apx {
        top: 7%;
        right: -10px;
        width: 580px;
      }

      .find03 .sub-figs .imgs img.apx {
        bottom: 40px;
        left: 0px;
        width: 360px;
        z-index: 4;
      }

      .info01 .sub-figs .imgs img.apx {
        top: 95px;
        right: 75px;
        width: 40px;
      }

      .info02 .sub-figs .imgs img.apx {
        top: 12px;
        right: 20px;
        width: 340px;
      }

      .sub-figs .find-03-move {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        width: 45%;
        height: 100%;
        padding: 20px 0;

        img {
          width: 330%;
        }

        div {
          &:nth-child(1) {
            z-index: 3;
          }

          &:nth-child(2) {
            z-index: 2;
          }

          &:nth-child(3) {
            z-index: 1;
          }
        }

        .element {
          animation: find_03_ani 2.5s ease-in infinite;
        }
      }
    }

    &.find .left .mid-tit {
      background-image: url(../img/floorplan_01.png);
    }

    &.info .left .mid-tit {
      background-image: url(../img/floorplan_02.png);
      left: 188px;

      span {
        left: 20px;
      }
    }

    &.print .left .mid-tit {
      background-image: url(../img/floorplan_03.png);
    }
  }
}
