// =======================================
// Forbim Page
// =======================================
.forbim {
  .sub-text {
    text-align: justify;
    line-height: 1.4em;
  }

  .intro {
    gap: 0;
    padding-bottom: 0;

    .top {
      background-image: url(../img/forbim_intro_bg.png);
      margin-bottom: 96px;
    }
  }

  .visual {
    width: 100%;
    text-align: center;
    background: url(../img/forbim_visual_bg.png);
    background-size: 100%;
    background-position: 0 bottom;
    background-repeat: no-repeat;
    margin-top: -100px;

    img {
      width: 70%;
    }
  }

  .theorys {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-image: url(../img/forbim_theorys_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;

    .mid-tit {
      text-align: center;
      white-space: nowrap;
      font-size: 42px;

      .gr-txt {
        color: #34DAAA;
      }

      .og-txt {
        color: #F87725;
      }
    }

    .diagram-wrap {
      display: flex;
      gap: 40px;

      .dia-circles-wrap {
        width: 600px;
        display: flex;

        &::after {
          width: 620px;
          height: 320px;
          border-color: #fff;
          border-radius: 250px;
          opacity: 1;
          background-color: #00000055;
          border: 1px dashed #ffffff80;
        }

        &::before {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          content: "정보연동";
          font-weight: 700;
          filter: drop-shadow(0 0 2px #000);
          font-size: 20px;
        }

        .circle-belt {
          display: none;
        }

        .circle-core {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 12px;

          i {
            width: 150px;
            height: 120px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        .circle-dots {
          .dot {
            background-color: #fff;
          }

          &.move {
            opacity: 0.5;
            animation-duration: 5s;
          }
        }

        > div {
          width: 50%;
          height: 100%;
          position: relative;
          transform: initial;
          top: initial;
          left: initial;
        }

        .circle-bim {
          .circle-dots.move {
            animation-name: dot-rotate-modal;
          }

          .circle-core {
            background: linear-gradient(180deg, #296B55 0%, #124133 100%), linear-gradient(180deg, #458f76 0%, #103126 100%);
            background-origin: border-box;
            background-clip: content-box, border-box;
            border: 2px solid transparent;

            i {
              background-image: url(../img/forbim_theorys_bim.svg);
            }
          }
        }

        .circle-floorplan {
          .circle-dots {
            transform: translate(-50%, -50%) rotate(180deg);

            &.move {
              animation-name: dot-rotate-algo;
            }
          }

          .circle-core {
            background: linear-gradient(180deg, #EB5F00 0%, #BC4C00 100%), linear-gradient(180deg, #F8741A 0%, #AC5115 100%);
            background-origin: border-box;
            background-clip: content-box, border-box;
            border: 2px solid transparent;

            i {
              background-image: url(../img/forbim_theorys_plan.svg);
            }
          }
        }
      }

      .dia-element {
        width: 110px;
        align-items: initial;

        li {
          list-style-type: disc;
        }

        .line {
          width: 40px;
          height: 1px;
          top: calc(50% - 1px);
          background-color: #fff;
          z-index: 100;
        }

        &:first-child {
          .line {
            left: 100%;
          }

          ul {
            padding-left: 24px;
          }
        }

        &:last-child {
          .line {
            right: 100%;
          }

          ul {
            padding-left: 40px;
          }
        }
      }
    }
  }

  .process {
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
      min-width: 575px;
      padding: 0;
      padding-left: 280px;

      .bg {
        &:nth-child(1) {
          background: url(../img/forbim_process_bg.png);
          background-size: cover;
        }

        &:nth-child(2) {
          background: url(../img/forbim_process_bg02.png);
          background-size: cover;
        }

        &.on {
          transform: scale(1.0);
        }
      }

      .mid-tit {
        transform: scale(0.7) translate(-47%, 0%);
        position: relative;
        display: block;
        font-size: 42px;
        line-height: 52px;
        font-weight: 500;

        .num {
          display: none;
          font-weight: 300;
          margin-right: 8px;
        }

        &::after {
          position: absolute;
          content: "●";
          top: 24px;
          left: -32px;
          font-size: 8px;
          display: none;
          line-height: 14px;
        }

        &::before {
          position: absolute;
          content: "";
          top: 30px;
          left: -123%;
          width: 100%;
          height: 1px;
          background: linear-gradient(90deg, transparent 50%, #fff 100%);
          display: none;
        }

        &.on {
          transform: initial;
          text-indent: -42px;

          em {
            font-weight: 700;
            color: var(--color-yellow);
          }

          .num {
            display: initial;
          }

          &::after,
          &::before {
            display: initial;
          }
        }
      }
    }

    .right {
      padding: 200px 200px 200px 135px;
      display: flex;
      flex-direction: column;
      gap: 72px;

      .sub-tit {
        display: flex;
        flex-direction: column;
        font-size: 32px;
        margin-bottom: 20px;
        color: var(--color-green);

        img {
          width: 48px;
          margin-bottom: 32px;
        }
      }

      .sub-text {
        margin-bottom: 32px;
      }

      .sub-figs {
        width: 100%;
        height: 560px;
        position: relative;

        img {
          width: 100%;
        }
      }
    }
  }
}
