// =======================================
// Pages Index
// =======================================
// 페이지별 고유 스타일들을 통합 관리

@forward "main";           // 메인 페이지
@forward "value/index";    // 소개 페이지
@forward "provided/index"; // 제동데이터 페이지
@forward "primary/index";  // 주요 기능 페이지
@forward "analysis/index"; // 데이터분석 페이지
@forward "results/index";  // For BIM 페이지
@forward "faq";            // FAQ 페이지
@forward "buy";            // 구매 페이지

